[submodule "sketch plugins/plugin-requests"]
	path = sketch plugins/plugin-requests
	url = https://github.com/sketchplugins/plugin-requests.git
[submodule "sketch plugins/sketch-measure"]
	path = sketch plugins/sketch-measure
	url = https://github.com/utom/sketch-measure
[submodule "sketch plugins/zeplin-sketch-plugin"]
	path = sketch plugins/zeplin-sketch-plugin
	url = https://github.com/zeplin/zeplin-sketch-plugin.git
[submodule "sketch plugins/Clear-Styles"]
	path = sketch plugins/Clear-Styles
	url = https://github.com/NathanRutzky/Clear-Styles.git
[submodule "sketch plugins/sketch-preview"]
	path = sketch plugins/sketch-preview
	url = https://github.com/marcisme/sketch-preview.git
[submodule "sketch plugins/sketch-text-uppercase"]
	path = sketch plugins/sketch-text-uppercase
	url = https://github.com/keeg/sketch-text-uppercase.git
[submodule "sketch plugins/Swatches"]
	path = sketch plugins/Swatches
	url = https://github.com/jodyheavener/Swatches.git
[submodule "sketch plugins/smartboards"]
	path = sketch plugins/smartboards
	url = https://github.com/elihorne/smartboards.git
